---
title: Home
layout: src/templates/layouts/2column-left.hbs
---

<div class="catalog-view__content">
    {{> toolbar }}

    <div class="catalog-view__product js-catalog">

        {{> product }}
    </div>
</div>
