<div class="breadcrumbs">
    <a href="#" title="Go to Home Page" class="breadcrumbs__link">Home</a>
    <a href="#" title="Return to Blog" class="breadcrumbs__link">Category Name</a>
    <a href="#" title="Return to Theory" class="breadcrumbs__link breadcrumbs__link--selected">Subcategory Name</a>
</div>