<div class="toolbar">
    <div class="toolbar__main">
        <a title="Сетка" class="toolbar__sort-grid active"></a>
        <a title="Список" class="toolbar__sort-list"></a>


        <label for="sort" class="toolbar__title">Sort</label>

        <div class="toolbar__select">
            <select id="sort">
                <option value="" selected="selected"> Position</option>
                <option value="">Name</option>
                <option value="PricelowToHigh">Price Low to High</option>
                <option value="PricehighToLow">Price High to Low</option>
            </select>
        </div>

        <div class="toolbar__limiter">
            <label for="showCount" class="toolbar__title">Show:</label>

            <div class="toolbar__select">
                <select id="showCount">
                    <option value="#" selected="selected">12</option>
                    <option value="#">18</option>
                    <option value="#">24</option>
                </select>
            </div>
        </div>
        <div class="toolbar__amount">1-15 of 150</div>

    </div>
    <div class="toolbar__extra">
        <ul class="pager">
            <li class="pager__item"><a href="#" title="Prev" class="pager__link pager__link--prev disabled"></a></li>
            <li class="pager__item">1 of 10</li>
            <li class="pager__item"><a href="#" title="Next" class="pager__link pager__link--next"></a></li>
        </ul>
    </div>
</div>