.catalog-view {
    width: 100%;
    min-height: 350px;

    margin-bottom: 30px;
    @include clearfix;


    &__left {
        float: left;

        width: 26%;
        padding-right: 6%;

    }
    &__content {
        float: right;

        width: 68%;
        @include clearfix;

    }
    &__product {
        @include clearfix;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;


    }
}
